<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valorant Stats</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/valorant">
</head>
<body>

    <header>
        <div class="bg-img">
            <div class="nav-container">
                <div class="topnav">
                    <a href="/">HOME</a>
                    <a href="/">METRIC 1</a>

                </div>
            </div>
        </div>
    </header>

    <main class="main-container">
        <form action="/" method="POST">
            <h1>TEST: Top Player Ranking</h1>
                <select name="players" id="players">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>


            <h1>TEST: ACT Selection</h1>
                <select name="acts" id="acts">
                    <option value="52ca6698-41c1-e7de-4008-8994d2221209">ACT 1</option>
                    <option value="292f58db-4c17-89a7-b1c0-ba988f0e9d98">ACT 2</option>
                    <option value="3">ACT 3 (Current)</option>
                </select>

            <input type="submit" value="SELECT">
        </form>
    </main>

    <footer>
        <span class="copyright">&copy; 2024 Albert J. Seo</span>
    </footer>

</body>
</html>